#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 #s-Callout_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 76px;
  height: 23px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}