#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 #s-Callout_1 {
  rotation: 270.0;
  margin-left: -78px;
  margin-top: 78px;
}
#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cc5f335-0af7-488a-b55e-0a5c60cae180 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}