#s-acdca7f4-20b0-4bb3-a4b0-14b5bec67328 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-acdca7f4-20b0-4bb3-a4b0-14b5bec67328 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}