#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}