#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 76px;
  height: 23px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-b37829e1-8b14-41bd-b9fe-e22f8b157d13 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}