#s-da6d847e-ece8-4686-866f-d9bc6abb57a5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da6d847e-ece8-4686-866f-d9bc6abb57a5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da6d847e-ece8-4686-866f-d9bc6abb57a5 #s-Callout_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-da6d847e-ece8-4686-866f-d9bc6abb57a5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da6d847e-ece8-4686-866f-d9bc6abb57a5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}