#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 #s-Callout_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}