#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 #s-Callout_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ee197c-4e6c-411a-bea1-8fd4c4157187 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}